/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/*.gitignore
/vendor
/media
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.env
emailAttachments
local/composer.lock
composer.lock
.DS_Store
.vs/*
vendor