.ts-modal {
  .modalContent {
    background-color: #1e1f25;
    .modalHeader {
      border-bottom: 1px solid #000;
      padding: 2rem;
      padding-bottom: 0.5rem;
      .plan-price-lg {
        font-family: "Graphik";
        font-weight: 700;
        font-size: 48px;
        color: #ffffff;
        margin-bottom: 0;
      }
    }
    .modalBody {
      padding: 2rem;
    }
    .modalFooter {
      border-top: 1px solid #000;
      padding: 1rem 2rem;
    }
  }
}
